<!DOCTYPE html>
<html lang="zxx">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ECOMMERCE</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="{% url 'home' %}"><h4>ECOMMERCE</h4></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
               
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
           
            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="{% url 'home' %}">Home</a></li>
                
                <li><a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="{% url 'shopdetail' %}">Shop Detail</a></li>
               
                        <li><a href="{% url 'checkout' %}">Check Out</a></li>
                        <li><a href="{% url 'shop' %}">shop</a></li>
                    </ul>
                </li>
                
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header">
       
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="{% url 'home' %}"><h4>ECOMMERCE</h4></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                         
                            <li><a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="{% url 'shopdetail' %}">Shop Details</a></li>
                                  
                                    <li><a href="{% url 'checkout' %}">Check Out</a></li>
                                    <li><a href="{% url 'shop' %}">shop</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                          
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            
            <div class="checkout__form">
                <h4>Billing Details</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                           <div class="checkout__input">
                                <p>Address<span>*</span></p>
                               {% comment %} < textarea >class="checkout__input__add"  style="color: chocolate;"> {% endcomment %}
                               <textarea name="Address" id="Address" rows="4" cols="45" style="color: chocolate;"></textarea>
                            </div>
                           <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text" style="color: chocolate;" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text" value="{{ user.email }}" style="color: chocolate;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                            <form method='POST' action="#">
                                <h4>Your Order</h4>
                                <div class="checkout__order__products">Products <span>Quantity X Price</span></div>
                                <ul>
                                    {% if cartitems %}
                                    {% for item in cartitems %}
                                    <li>{{ item.product.title }}<span>{{item.quantity}} X {{ item.price }}</span></li>
                                </ul>
                               
                                <div class="checkout__order__total">Total <span>{{ sum }}</span></div>
                                {% endfor %}
                                {% endif %}

                          
                
                 
                                <button type="submit" class="site-btn" ><a href="{% url 'place_order' %}">PLACE ORDER</a></button>
                            </form>
                            </div>
                        </div>
                    </div>
                </form>
                <form action="/payment_handler/" method="POST">
                    <script
                      src="https://checkout.razorpay.com/v1/checkout.js"
                      data-key="{{ razorpay_key }}"
                      data-amount="{{ sum_total|floatformat:2|multiply:100 }}"
                      data-currency="{{ currency }}"
                      data-order_id="{{ razorpay_order_id }}"
                      data-buttontext="Pay Now"
                      data-name="Your Store"
                      data-description="Test Transaction"
                      data-image="https://example.com/your_logo.jpg"
                      data-prefill.name="{{ request.user.username }}"
                      data-prefill.email="{{ request.user.email }}"
                      data-theme.color="#F37254"
                    ></script>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  </form>
                  
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->



    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

 

</body>

</html>